<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fast-neural-style</title>
</head>
<body>
<form action="/transform_photo_style"  method="post" enctype="multipart/form-data">
    choose sytel:<select name="theme">
        <option>cubist</option>
        <option>denoised_starry</option>
        <option>feathers</option>
        <option>mosaic</option>
        <option>scream</option>
        <option>udnie</option>
        <option>wave</option>
    </select>
    upload image file:
    <input type="file" name="pic">
    <input type="submit" value="transfer">
</form>
</body>
</html>